* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 424;
    color: #E3E3E3;
    cursor: pointer;
  }

.material-symbols-rounded:hover,
.material-symbols-rounded.active {
    color: #8F8F8F;
}

.background {
    background: url(https://c1.wallpaperflare.com/path/658/192/865/the-sky-red-blue-cloud-0377860ecb0cc300ee4e38ec5c54a9be.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.blur {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(25px);
}

.body.container {
    width: 81%;
    background-color: #fff;
    margin: 8% 9%;   
}

.bold {
    font-weight: 800;
}

h1 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #434343;
}

h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.35rem;
    color: #444444;
}
.name-bar,
.nav-bar {
    width: 50%;
    height: 100%;
}

.name-bar * {
    margin: 0;
}

.name-bar > div,
.nav-bar > div {
    padding: 30px 30px;
    min-width: 25%;
}

.brand-name {
    cursor: pointer;
}

header>div>div:not(:last-child) {
    border-right: 1px solid;
    border-image: 
    linear-gradient(
      to top, 
      rgba(219, 218, 223, 0.18), 
      rgba(219, 218, 223, 1)
    ) 1 100%;
}

.layout-bar {
    gap: 14px;
    padding: auto 30px;
}
.search-bar {
    gap: 5px;
}

.search-bar .material-symbols-rounded {
    font-variation-settings:
    'opsz' 18;
    color: #444;
    cursor: text;
}

.search-bar input {
    outline: none;
    border: none;
    width: 80%;
}

.search-bar input::placeholder {
    outline: none;
    border: none;
    color: #444;
    font-style: italic;
}

/*ффффффффффффффффффф*/


h2 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
}



h4 {
    font-size: 1.4rem;
    line-height: 2.14rem;
}

h5 {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.7rem;
    letter-spacing: 0.1px;
}

h6 {
    font-weight: 700;
    line-height: 1.71rem;
}

.slogan {
    width: 496px;
}

.primary-color {
    color: #96BB7C;
}

.text-color {
    color: #252B42;
}

.second-text-color {
    color: #737373;
}

.danger-text-color {
    color: #E74040;
}

.light-gray-bg {
    background: #FAFAFA;
}

.faded-secondary-bg {
    background: #FFF2F3;
}

.faded-primary-bg {
    background: #EFF8ED;
}

.navbar {
    justify-content: left;
    gap: 40px;
}

.navbar>* {
    align-items: center;
}

.navbar__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 58px;

}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;

    width: max-content;
    height: 58px;
    position: relative;
    cursor: pointer;
}

.navbar__label {
    font-weight: 700;
    line-height: 1.7rem;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;

    color: #737373;
    text-decoration: none;
}

.navbar__btn:hover {
    background-color: #EFF8ED;
}

.navbar__btn:hover>.navbar__label {
    color: #96BB7C;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-sizing: border-box;

    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 3px;

    background: #FFFFFF;
    box-shadow: 0px 5px 24px rgba(0, 34, 51, 0.04);

    overflow: auto;
    left: 0;
    top: 63px;
    z-index: 1;
}

.dropdown-content a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;
    color: #737373;
    text-decoration: none;

    width: max-content;
    height: 30px;
}

.dropdown-content a:hover {
    background: #EFF8ED;
    color: #96BB7C;
}

.show {
    display: flex;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0px;
    gap: 80px;
    overflow: hidden;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
}

.logo__btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: max-content;
    height: 52px;
    border-radius: 5px;
}

.logo__btn:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.logo__btn>a {
    padding: 15px 40px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.2px;
}

.dark {
    background-color: #96BB7C;
}

.dark>a {
    color: #FFFFFF;
}

.light {
    background-color: transparent;
    border: 1px solid #96BB7C;
}

.light a {
    color: #96BB7C;
}

.picture {
    position: relative;
    width: 50%;
}

object[data*="circle"] {
    position: absolute;
    left: 21.16%;
    right: 71.67%;
    top: 16.25%;
    bottom: 76.8%;
    z-index: 0;
}

object[data*="vector"] {
    position: absolute;
    left: 14.09%;
    right: 0%;
    top: 12.17%;
    bottom: 29.22%;
    z-index: 0;
}

object[data*="full-vector"] {
    position: absolute;
    left: 14.8%;
    right: 0%;
    top: 0%;
    bottom: 20%;
    z-index: 0;
}

.inner-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 30px;
    align-items: stretch;
}

.inner-links__card {
    text-decoration: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 20px;

    width: 328px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out 0s;
    bottom: 0;
}

.inner-links__card:hover {
    position: relative;
    bottom: 15px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.circle-section {
    padding: 18px;
    width: 66px;
    height: 66px;
    background: #E74040;
    border-radius: 200px;
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.ChalkboardTeacher {
    background-image: url(./media/ChalkboardTeacher.svg);
}

.GraduationCap {
    background-image: url(./media/GraduationCap.svg);
}

.ChatsCircle {
    background-image: url(./media/ChatsCircle.svg);
}

.inner-links .divider {
    width: 50px;
    height: 2px;
    background: #E74040;
}

.about-card {
    padding: 0px;
    gap: 35px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
}

.about-card h2,
.about-card .paragraph {
    width: 46%;
}

.about-card h2 {
    display: flex;
    align-items: center;
}

.about-card .divider {
    width: 2px;
    background: #E74040;
}

.about-card a {
    color: #96BB7C;
}

.about-card a:hover {
    color: #E77C40;
}

.about-block {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 50px 0;
    gap: 50px;
}

.learn-more-btn {
    margin-top: 35px;
}

.learn-more-btn a {
    font-weight: 700;
    line-height: 1.7rem;
}

.learn-more-btn a::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 16px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 9px 12px;
    transition: all 0.2s ease-in-out;
}

.about-block .learn-more-btn a::after {
    background-image: url(./media/icon-arrow-next-green.svg);
}

.learn-more-btn a:hover::after {
    background-image: url(./media/icon-arrow-next-orange.svg);
    margin-left: 5px;
}

.courses {
    background: #FFF2F3;
    background-size: 100% 1vw;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.courses a {
    color: #E74040;
}

.courses a:hover {
    color: #E77C40;
}

.courses__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    width: 100%;
    justify-content: center;
}

.courses__card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px 70px;
    background-color: #fff;
    width: 320px;
    filter: drop-shadow(0px 13px 19px rgba(0, 0, 0, 0.07));
}

.courses__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.courses .learn-more-btn a::after {
    background-image: url(./media/icon-arrow-next-red.svg);
}

.courses .learn-more-btn {
    text-align: center;
}

.courses .learn-more-btn a:hover {
    color: #E77C40;
}


.feedback {
    padding: 50px 0;
}

.near-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.near-courses a {
    font-weight: 700;
    color: #737373;
}

.near-courses a:hover {
    color: #2D4059;
}

.near-courses__cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer * {
    font-weight: 700;
    color: #737373;
}

footer .copyright {
    padding: 25px 0;
}