@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;
}

body {
    background-color: #FAF9F9;
}

.ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 245px;
    padding: 28px 20px;
    gap: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
}

.ad__btn-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 185px;
}

.ad__btn-bar > *{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
}

.ad__btn-favourite {
    background-image: url(../../../public/assets/icons/heart-empty-gradient.svg);
}

.ad__btn-more {
    background-image: url(../../../public/assets/icons/dots.svg);
}

.ad__img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}

.ad__info {
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.ad__info *{
    white-space: pre-line;
    text-align: left;
}

.ad__color-bar {
    display: flex;
    gap: 3px;
}

.ad__color-circle {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: red;
    display: inline-block;
}