body {
    background-color: #FAF9F9;
}

.ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 245px;
    height: 422px;
    padding: 28px 20px;
    gap: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
}

.ad__btn-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 185px;
}

.ad__btn-bar>* {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.ad__btn-favourite {
    background-image: url(../../../public/assets/icons/heart-empty-gradient.svg);
}

.ad__btn-favourite.active {
    background-image: url(../../../public/assets/icons/heart-filled-gradient.svg);
}

.ad__btn-more {
    background-image: url(../../../public/assets/icons/dots.svg);
}

.ad__img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
}

.ad__info {
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.ad__info * {
    white-space: pre-line;
    text-align: left;
}

.ad__color-bar {
    display: flex;
    gap: 3px;
    width: 100%;
    overflow: auto hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    height: max-content;
    scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BDBDBD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ad__color-circle {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: red;
    display: inline-block;
    flex: 0 0 auto;
}

.ad__color-expand {
    cursor: pointer;
    line-height: 1rem;
    font-size: 1rem;
    height: 17px;
}

.ad__price {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #424242;
}

.ad__old-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1rem;
    text-decoration-line: line-through;
    padding-right: 10px;

    color: #424242;

}

.ad__btn-buy {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;

    width: 187px;
    height: 47px;

    border: 1px solid #BDBDBD;
    border-radius: 46px;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;

    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}

.ad__btn-buy::before {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url(../../../public/assets/icons/basket-gradient.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.ad__btn-buy:focus,
.ad__btn-buy:active,
.ad__btn-buy:hover {
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
    background-clip: inherit;
    text-fill-color: inherit;
    color: white;
}

.ad__btn-buy:focus::before,
.ad__btn-buy:active::before,
.ad__btn-buy:hover::before {
    background-image: url(../../../public/assets/icons/basket-white.svg);

}